原始数据集
datasets_for_efficientnetV2
datasets_for_yolov5
datasets_for_U-net
U-net_for_segmentation/.idea
U-net_for_segmentation/__pycache__
U-net_for_segmentation/save_weights
efficientnetV2_for_classification/runs
efficientnetV2_for_classification/estimate_info
efficientnetV2_for_classification/*.pth
efficientnetV2_for_classification/weights
efficientnetV2_for_classification/.idea
efficientnetV2_for_classification/__pycache__
yolov5-6.1/runs
yolov5-6.1/.idea
yolov5-6.1/__pycache__
weights
提交验证
test
